@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;600&display=swap');
$cervena: #dc143c;
$oranzova: #ff8c00;
$zelena: #32cd32;
$modra: #40e0d0;
$fialova: #8b008b;
$cerna: #333;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.logoTop {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    .nav-link {
        text-align: center;
        width: 80%;
        margin: 15px auto;
        &::before {
            content: 'Dětská skupina';
            display: inline-block;
            width: auto;
            height: 30px;
            position: relative;
            top: -55px;
            left: 111px;
            font-family: 'Poppins', sans-serif;
            color: #333;
            font-size: .8rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        &::after {
            content: 'z. s.';
            display: inline-block;
            width: auto;
            height: 30px;
            position: relative;
            top: 70px;
            left: -23px;
            font-family: 'Poppins', sans-serif;
            color: #333;
            font-size: .8rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        .logo {
            width: 35%;
            margin: auto;
        }
    }
}