.containerParallax {
    background: url("../img/svg/parallaxa/pozadi_home.svg") no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    #scene {
        width: 100%;
        height: 100%;
        .firstParallax {
            width: 30%;
            position: relative;
            left: 16% !important;
            height: auto;
            top: 50% !important;
        }
        .secondParallax {
            left: 33% !important;
            top: 59% !important;
            width: 13%;
            height: auto;
        }
        .thirdParallax {
            left: 53% !important;
            top: 50% !important;
            width: 11%;
            height: auto;
        }
        .fourthParallax {
            left: 65% !important;
            top: 53% !important;
            width: 15%;
            height: auto;
        }
        .firstParallax,
        .secondParallax,
        .thirdParallax,
        .fourthParallax {
            img {
                width: 100%;
            }
        }
    }
}

.text h1 {
    font-family: Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: wheat;
    border: 1px solid rgb(19, 18, 18);
    background: rgb(19, 18, 18);
}